$slider-bar-height: 6px;
$slider-handle-size: 20px;
.slider {
    display: flex;
    align-items: center;
    user-select: none;
    @mixin light-slider-handle {
        .rc-slider-handle {
            --handle-image: url(/images/ui-elements/slider-handle.svg);
        }
    }
    @mixin dark-slider-handle {
        .rc-slider-handle {
            filter: drop-shadow(0px 0px 1px #000000b5);
            --handle-image: url(/images/ui-elements/slider-handle-dark.svg);
        }
    }
     :global {
         :not(.dark) {
            @include light-slider-handle;
        }
        .dark {
            @include dark-slider-handle;
        }
        @media (prefers-color-scheme: dark) {
             :not(.light) {
                @include dark-slider-handle;
            }
            .light {
                @include light-slider-handle;
            }
        }
    }
     :global {
        .rc-slider {
            position: relative;
            height: $slider-bar-height;
            width: 100%;
            border-radius: 6px;
            background-color: var(--color-slider);
            box-shadow: 8px 0 0 0 var(--color-slider), -8px 0 0 0 var(--color-slider-track), -8px 0 0 1px var(--color-slider-border), 8px 0 0 1px var(--color-slider-border);
            box-sizing: border-box;
        }
        .rc-slider * {
            box-sizing: border-box;
        }
        .rc-slider-track {
            position: absolute;
            left: 0;
            height: $slider-bar-height;
            border-radius: 6px;
            box-shadow: -1px 0 0 0 var(--color-slider-track);
            background-color: var(--color-slider-track);
            z-index: 1;
        }
        .rc-slider-handle {
            position: absolute;
            width: $slider-handle-size;
            height: $slider-handle-size;
            background-image: var(--handle-image);
            background-size: 100% 100%;
            margin: auto;
            top: 0;
            bottom: 0;
            cursor: pointer;
            outline: none;
            z-index: 2;
        }
        .rc-slider-mark {
            position: absolute;
            top: 10px;
            left: 0;
            width: 100%;
            font-size: 12px;
            z-index: 3;
        }
        .rc-slider-mark-text {
            position: absolute;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            cursor: pointer;
            color: #999;
        }
        .rc-slider-mark-text-active {
            color: #666;
        }
        .rc-slider-step {
            position: absolute;
            width: 100%;
            height: $slider-bar-height;
            background: transparent;
            z-index: 1;
        }
        .rc-slider-dot {
            position: absolute;
            top: -2px;
            margin-left: -4px;
            width: 8px;
            height: 8px;
            border: 2px solid #e9e9e9;
            background-color: #fff;
            cursor: pointer;
            border-radius: 50%;
            vertical-align: middle;
        }
        .rc-slider-dot:first-child {
            margin-left: -4px;
        }
        .rc-slider-dot:last-child {
            margin-left: -4px;
        }
        .rc-slider-disabled {
            opacity: 0.5;
            & .rc-slider-handle,
            & .rc-slider-dot {
                cursor: not-allowed;
            }
            & .rc-slider-mark-text,
            & .rc-slider-dot {
                cursor: not-allowed !important;
            }
        }
        .rc-slider-tooltip-zoom-down-enter,
        .rc-slider-tooltip-zoom-down-appear {
            -webkit-animation-duration: .3s;
            animation-duration: .3s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            display: block !important;
            -webkit-animation-play-state: paused;
            animation-play-state: paused;
        }
        .rc-slider-tooltip-zoom-down-leave {
            -webkit-animation-duration: .3s;
            animation-duration: .3s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            display: block !important;
            -webkit-animation-play-state: paused;
            animation-play-state: paused;
        }
        .rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
        .rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
            -webkit-animation-name: rcSliderTooltipZoomDownIn;
            animation-name: rcSliderTooltipZoomDownIn;
            -webkit-animation-play-state: running;
            animation-play-state: running;
        }
        .rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
            -webkit-animation-name: rcSliderTooltipZoomDownOut;
            animation-name: rcSliderTooltipZoomDownOut;
            -webkit-animation-play-state: running;
            animation-play-state: running;
        }
        .rc-slider-tooltip-zoom-down-enter,
        .rc-slider-tooltip-zoom-down-appear {
            -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
            -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        }
        .rc-slider-tooltip-zoom-down-leave {
            -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        }
        @-webkit-keyframes rcSliderTooltipZoomDownIn {
            0% {
                opacity: 0;
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transform: scale(0, 0);
                transform: scale(0, 0);
            }
            100% {
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
            }
        }
        @keyframes rcSliderTooltipZoomDownIn {
            0% {
                opacity: 0;
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transform: scale(0, 0);
                transform: scale(0, 0);
            }
            100% {
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
            }
        }
        @-webkit-keyframes rcSliderTooltipZoomDownOut {
            0% {
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
            }
            100% {
                opacity: 0;
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transform: scale(0, 0);
                transform: scale(0, 0);
            }
        }
        @keyframes rcSliderTooltipZoomDownOut {
            0% {
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
            }
            100% {
                opacity: 0;
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transform: scale(0, 0);
                transform: scale(0, 0);
            }
        }
        .rc-tooltip {
            position: absolute;
            left: -9999px;
            top: -9999px;
            z-index: 4;
            visibility: visible;
            box-sizing: border-box;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        .rc-tooltip * {
            box-sizing: border-box;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        .rc-tooltip-hidden {
            display: none;
        }
        .rc-tooltip-placement-top {
            padding: 4px 0 8px 0;
        }
        .rc-tooltip-inner {
            padding: 6px 2px;
            min-width: 24px;
            height: 24px;
            font-size: 12px;
            line-height: 1;
            color: #fff;
            text-align: center;
            text-decoration: none;
            background-color: gray;
            border-radius: 6px;
            box-shadow: 0 0 4px #d9d9d9;
        }
        .rc-tooltip-arrow {
            position: absolute;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
        }
        .rc-tooltip-placement-top .rc-tooltip-arrow {
            bottom: 4px;
            left: 50%;
            margin-left: -4px;
            border-width: 4px 4px 0;
            border-top-color: #6c6c6c;
        }
    }
}

.num {
    &.l {
        margin-right: 20px;
        margin-left: 12px;
        ;
    }
    &.r {
        margin-left: 20px;
        margin-right: 12px;
    }
    font-size: var(--font-size-s);
    font-weight: bold;
    color: var(--color-text-dark);
}

.control {
    @mixin light-control-buttons {
        &.l {
            background-image: url(/images/ui-elements/minus.svg);
        }
        &.r {
            background-image: url(/images/ui-elements/plus.svg);
        }
    }
    @mixin dark-control-buttons {
        &.l {
            background-image: url(/images/ui-elements/minus-dark.svg);
        }
        &.r {
            background-image: url(/images/ui-elements/plus-dark.svg);
        }
    }
    &:not(.dark) {
        @include light-control-buttons;
    }
    &.dark {
        @include dark-control-buttons;
    }
    @media (prefers-color-scheme: dark) {
        &:not(.light) {
            @include dark-control-buttons;
        }
        &.light {
            @include light-control-buttons;
        }
    }
    &:disabled {
        opacity: 0.4;
    }
    cursor: pointer;
    font-size: 0;
    background-size: 100% 100%;
    background-color: var(--color-slider-track);
    color: var(--color-text-light);
    border-radius: 15px;
    height: 20px;
    width: 20px;
    border: none;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}